@import "colors.css";

.MnemonicAndHdPath {
  display: flex;
  flex-direction: column;
  background-color: var(--app-mnemonic-background-color);

  font-size: 0.8em;
  margin: 1em;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

  div {
    margin: 1rem;

    h4 {
      margin: 0;
    }

    span {
      text-transform: uppercase;
      font-family: "Fira Code Regular", monospace;
      color: var(--text-color);
    }
  }
}
