@import "colors.css";

.MnemonicAndHdPath {
  display: flex;
  width: 100%;
  background-color: var(--app-mnemonic-background-color);

  font-size: 0.8em;
  margin-bottom: 1em;

  div {
    margin: 1rem;

    h4 {
      margin: 0;
    }

    span {
      text-transform: uppercase;
      font-family: "Fira Code Regular", monospace;
      color: var(--text-color);
    }
  }
}

.Mnemonic {
  flex-grow: 1;
}
