@import './colors';

.Panel {
  background: var(--app-panel-background-color);
  padding: 0 1em 1em 1em;

  border-bottom: 1px solid var(--app-panel-divider-color);

  overflow-y: scroll;

  > h3 {
    color: var(--app-panel-text-color);
  }

  > h4 {
    margin: 0 0 1em 0;
    padding-top: 4px;
    color: var(--app-panel-text-color);
  }

  > h3,
  > h4 {
    border-top: 4px solid var(--app-panel-header-border-color);
    display: inline-table;
  }

  header,
  main,
  footer {
    display: flex;
  }

  header,
  footer {
    flex-shrink: 0;
  }

  main {
    overflow: scroll;
    height: 100%;
  }
}
