@import './colors';

.Panel {
  width: 666px;
  border: 1px solid #414566;
  background: #31344c;
  box-shadow: 0 2px 21px 15px rgba(0,0,0,.16);
  border-top: 2px solid $primary-color;
  padding: 2em;
}
