.MiniTxCard {
  font-family: "Fira Code Regular", monospaced;
  width: 100%;
  cursor: pointer;
  margin: .5rem 0;
  background: var(--app-card-default-background);
  padding: 28px 18px;
  word-wrap: break-word;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  transition: all .3s;
  border-bottom: 1px solid #aaa;

  .Row {
    // display: flex;
    // align-items: center;
    // flex-direction: row;
    margin-bottom: 1rem;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 120px 200px;

    &.Top {
      display: flex;
      justify-content: space-between;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .RowItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }

  .Nonce,
  .GasUsed,
  .Value,
  .MinedOn {
    .Label {
      font-size: .625rem;
      letter-spacing: 1.2px;
    }

    .Value {
      font-size: .825rem;
    }
  }

  .TxHash {
    .Value {
      font-weight: bold;
    }
  }

  .SecondaryItems {
    .Value {
      font-size: .825rem;
    }
  }

}
