.AppShell {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.ShellContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow: scroll;
}

.ShellContainer > div {
  margin: auto;
}
