.AppShell {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.ShellContainer {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: calc(100vh - 35px - 2rem);
}
