
@import "colors.css";

.nav {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;

  width: 250px;
  padding: 1rem 0;

  background-color: var(--app-sidebar-background-color);

  header {
    position: relative;

    padding: 0 1rem 1rem 1rem;

    border-bottom: 1px solid var(--app-sidebar-divider-color);

    h1 {
      margin: 0;

      color: var(--app-highlight-color);

      font-size: 22px;
    }

    span {
      color: var(--app-sidebar-header-text-color);

      font-size: 12px;
      font-weight: 700;
    }
  }

  h4 {
    margin: 0 0 .5rem 0;

    color: var(--app-sidebar-header-text-color);

    font-size: 12px;
    line-height: 14px;
  }

  a {
    margin-bottom: 1rem;
    -webkit-app-region: no-drag;

    transition: color .3s, background-color .3s;
    text-decoration: none;

    color: var(--app-sidebar-header-text-color);

    font-size: 14px;
    font-weight: 700;

    &:hover {
      color: var(--app-highlight-color);
    }
  }

  .Active {
    color: var(--app-highlight-color);

    &:before {
      position: absolute;
      left: 0;

      display: block;

      width: 4px;
      height: 14px;

      content: " ";

      background-color: var(--app-highlight-color);
    }
  }

  .Badge {
    display: inline-block;

    width: 1.2rem;
    padding: .2rem;

    text-align: center;

    color: white;
    border-radius: 50%;
    background-color: var(--app-highlight-color);

    font-size: .7rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 1rem;

  h4 {
    margin-bottom: 1rem;
  }
}


.RunningRpcWindowButtons {
  position: absolute;
  right: .5rem;
}

.footer {
  display: flex;
  flex-direction: column;

  color: var(--app-highlight-color);

  div {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 1rem;

    border-top: 1px solid var(--app-sidebar-divider-color);

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  span {
    font-family: "Fira Code Regular", monospace;
    font-size: 12px;
  }
}

.MiningBtn {
  margin-bottom: .5rem;
  -webkit-app-region: no-drag;

  &[disabled] {
    border-color: var(--app-button-primary-disabled-border-color);
  }

  &:first-of-type {
    margin-top: .5rem;
  }
}

.MiningStatus {
  flex-direction: row !important;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 1rem;
  }
}
