
@import "colors.css";

.Nav {
  -webkit-app-region: drag;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  font-family: 'RobotoCondensed-Bold';
}

a {
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
}

.Main {
  width: 100vw;
  padding: 1rem;
  background-color: var(--app-navbar-background);
}

.Main a {
  color: var(--app-navbar-text);
}

.Footer {
  width: 100vw;
  color: var(--app-statusbar-text);
  background-color: var(--app-statusbar-background);
  display: flex;
  flex-direction: row;
}
