
@import "colors.css";

.Nav {
  -webkit-app-region: drag;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  font-family: 'RobotoCondensed-Bold';
}

.Main {
  width: 100vw;
  padding: .8rem;
  display: flex;
  flex-direction: row;
  background-color: var(--app-navbar-background);

  svg {
    stroke: var(--app-navbar-icon-color);
    fill: var(--app-navbar-icon-color);
  }
}

.Menu {
  display: flex;
  flex-direction: row;

  a {
    color: var(--app-navbar-text);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    margin-right: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    > div {
      margin-right: .5rem;
    }

    svg {
      width: 44px;
      height: 44px;
      stroke: var(--app-navbar-icon-color);
      transition: all .3s;
    }

    &.Active {
      color: var(--primary-color);

      svg {
        stroke: var(--primary-color) !important;
      }
    }

    transition: all .3s;

    &:hover {
      color: white;

      transform: scale(1.01);

      svg {
        stroke: white;
        transform: scale(1.01);
        cursor: pointer;
      }
    }
  }
}

.SearchBar {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;

  input {
    justify-content: flex-end;
    outline: none;
    border: 2px solid var(--app-navbar-icon-color);
    border-radius: 24px;
    padding: .25rem .5rem;
    color: var(--app-navbar-icon-color);
  }

  > div {
    position: absolute;
    right: 22px;
  }
}

.Footer {
  width: 100vw;
  height: 56px;
  color: var(--app-statusbar-text);
  background-color: var(--app-statusbar-background);
  display: flex;
  flex-direction: row;
}

.Status {
  display: flex;
  flex: 1;
  border-top: 1px solid var(--app-statusbar-item-border-color);
}

.StatusIndicator {
  padding: 0 0rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  border-right: 1px solid var(--app-statusbar-item-border-color);
}

.Metric {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  padding-right: 4rem;

  h4 {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  span {
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
  }
}

.Indicator {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-end;
}

.Metric + .Indicator {
  padding-right: 1rem;
}

.Actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;

  button {
    margin-right: 1rem;
    display: flex;
    -ms-align-items: center;
    align-items: center;

    > div {
      margin-right: .5rem;
    }

    svg > * {
      stroke: currentColor !important;
      fill: currentColor !important;
    }
  }
}
