@import 'colors.css';

.WindowControls {
  -webkit-app-region: drag;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--app-window-control-background);
  height: 32px;
}

.WindowControlBtn {
  text-indent: -9999px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 12px;
  width: 12px;
  height: 12px;
  margin-right: .5rem;
  color: var(--text-color);

  &:hover {
    text-indent: 0;
  }
}

.Close {
  composes: WindowControlBtn;
  background-color: var(--app-title-bar-btn-close);
}

.Minimize {
  composes: WindowControlBtn;
  background-color: var(--app-title-bar-btn-min);
}

.Maximize {
  composes: WindowControlBtn;
  background-color: var(--app-title-bar-btn-max);
}
