.TxCard {
  font-family: "Fira Code Regular", monospaced;
  width: 100%;
  margin: 0;
  background: var(--app-card-default-background);
  word-wrap: break-word;
  display: block;
  word-wrap: break-word;

  .Button {
    text-decoration: none;
    text-align: center;
    margin: .5rem 0;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 64px;
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #aaa;

    h1 {
      margin: 0;
      font-size: 1.5rem;
      padding: 1.25rem;
    }
  }

  header button {
    border-radius: 0;
    line-height: 1;
    height: 100%;
  }

  main,
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    .Value {
      font-size: .875rem;
    }
  }

  main {
    padding-bottom: 2rem;
  }

  footer {
    justify-content: flex-start;

    div {
      margin-right: 1rem;
    }
  }

  .TxInfo,
  .ContractInfo {
    border-bottom: 1px solid #aaa;
  }

  .Title,
  .Type {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .Title {
    flex-grow: 1;
    align-items: center;
  }

  .Parties,
  .Gas {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
  }

  .Label {
    font-size: .75rem;
    font-family: "RobotoCondensed-Regular";
    font-weight: 800;
    color: var(--app-card-label);
    margin-bottom: .25rem;
  }

  .Value {
    font-size: 1.125rem;
    font-family: "Fira Code Regular";
    color: var(--app-card-value);
    word-break: break-all;
  }

  .CreatedContract {
    border-color: var(--primary-color);
  }

  .EventItem {
    border-bottom: 1px solid #aaa;
  }

  .ContractInfo > section,
  .EventItem > section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
  }

  .EventsInfo {
    background: #fff;
  }

  .Waiting {
    margin: 1rem 0;
  }
}
