@import 'colors.css';

.ConfigScreen {
  color: var(--text-color);

  width: 60%;

  header {
    flex-direction: column;
  }

  h2 {
    padding-top: 0;
    margin-top: 0;
  }

  h4 {
    font-family: "Fira Code Regular";
    font-size: .8rem;
    letter-spacing: 1px;
  }

  footer {
    border-top: 1px solid var(--app-config-tab-active-text-color);
    background: var(--app-sidebar-background-color);
    padding: 2rem;
    display: flex;
    justify-content: center;

    button {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    }
  }

  form {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }

  .Visible {
    display: block;
  }

  .ActiveTab {
    color: var(--app-config-tab-active-text-color);
    border-bottom: 2px solid lighten(var(--app-config-tab-active-text-color), 15%);
  }

  .Hidden {
    display: none;
  }

  .ConfigTabs {
    display: flex;
  }

  .ConfigTabItem {
    cursor: pointer;
    text-align: center;
    margin-right: 2rem;
    font-size: .8rem;

    transition: color .3s;

    &:last-of-type {
      border-right: none;
    }

    &.active {
      border-bottom: 2px solid lighten(var(--app-config-tab-active-text-color), 15%);
    }

    &.active,
    &:hover {
      color: lighten(var(--app-config-tab-active-text-color), 15%);
      font-weight: bold;
    }

    .ConfigTabItemImage {
      height: 64px;
      width: 64px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    .ConfigTabItemImage img {
      display: block;
    }

    .ConfigTabItemName {
      margin-top: 16px;
      font-weight: 500;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .ConfigCard {
    background: white;
    padding: 2rem;

    h4 {
      margin-bottom: 0;
    }

    section + section {
      margin-top: 2rem;
    }

    input[type='text'] {
      width: 50%;
    }
  }

}
