@import 'colors.css';

.ConfigScreen {
  composes: Panel from 'CoreStyles/panels.css';
  border: 0;

  color: var(--text-color);

  width: 60%;

  header {
    flex-direction: column;

    button {
      width: 300px;
      padding: 3rem;
      line-height: 0;
      margin: 60px auto;
    }
  }

  .Visible {
    display: block;
  }

  .ActiveTab {
    color: var(--app-config-tab-active-text-color);
  }

  .Hidden {
    display: none;
  }

  .ConfigTabs {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .ConfigTabItem {
    cursor: pointer;
    width: 140px;
    text-align: center;
    border-right: 1px solid #D9E3ED;

    transition: color .3s;

    &:last-of-type {
      border-right: none;
    }

    &.active,
    &:hover {
      color: lighten(var(--app-config-tab-active-text-color), 15%);
    }

    .ConfigTabItemImage {
      height: 64px;
      width: 64px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    .ConfigTabItemImage img {
      display: block;
    }

    .ConfigTabItemName {
      margin-top: 16px;
      font-weight: 500;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .ConfigCard {
    background: white;
    padding: 2rem;

    h4 {
      margin-bottom: 0;
    }

    section + section {
      margin-top: 2rem;
    }

    input[type='text'] {
      width: 50%;
    }
  }

}

