@import 'colors.css';



main {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.ConfigScreen {
  color: var(--text-color);
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  header {
    flex-direction: column;
  }

  > svg {
    margin: 2rem auto;
  }

  button {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;


    &:active {
      transform: scale(.98);
    }

    > div {
      margin-right: .5rem;
    }

    svg > * {
      stroke: currentColor !important;
      fill: currentColor !important;
    }
  }


  h3 {
    padding: 0;
    margin: 0;
  }

  h4 {
    font-family: "Fira Code Regular";
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: normal;
  }

  footer {
    padding: 2rem;
    display: flex;
    justify-content: center;

    button {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    }
  }

  form {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 80%;
  }

  .Visible {
    display: block;
  }

  .ActiveTab {
    color: var(--app-config-tab-active-text-color);
    border-bottom: 2px solid lighten(var(--app-config-tab-active-text-color), 15%);
  }

  .Hidden {
    display: none;
  }

  .ConfigHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin-top: 4rem;

    > button {
      margin-bottom: 1rem;
    }
  }

  .ConfigTabs {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
  }

  .ConfigTabItem {
    cursor: pointer;
    text-align: center;
    margin: 0 2rem 1rem 0;
    font-size: .8rem;

    transition: color .3s;

    &:last-of-type {
      border-right: none;
    }

    &.active {
      border-bottom: 2px solid lighten(var(--app-config-tab-active-text-color), 15%);
    }

    &.active,
    &:hover {
      color: lighten(var(--app-config-tab-active-text-color), 15%);
      font-weight: bold;
    }

    .ConfigTabItemImage {
      height: 64px;
      width: 64px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    .ConfigTabItemImage img {
      display: block;
    }

    .ConfigTabItemName {
      font-weight: 500;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .ConfigCard {
    background: white;
    padding: 2rem;
    width: 100%;

    h4,
    p {
      margin: 0;
    }

    p {
      color: var(--app-navbar-text);
      font-family: "Fira Code";
      font-size: .875rem;
    }

    h2 {
      color: var(--app-window-control-background);
      font-family: "RobotoCondensed-Bold";
      font-weight: bold;
      margin-top: 0;
    }

    section {
      display: flex;
      flex-direction: column;
    }

    .Row {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 2rem;
    }

    .RowItem {
      width: 50%;
      align-items: center;
      margin-right: 1rem;
    }

    .RowItem + .RowItem {
      margin-right: 0;
      margin-left: 1rem;
    }

    input[type='text'] {
      border-color: var(--app-navbar-text);
      width: 100%;
    }
  }

}

.PortAlert {
  background-color: #ffd5d5;
  display: block;
  padding: .5rem;
  font-size: 14px;
}
