certs/cert.pfx
dist
out
node_modules
.DS_Store
.vscode
.node_modules_git
test/mocha/workspaces/test-workspaces/default/ContractCache
test/mocha/workspaces/test-workspaces/workspaces/Test-1/ContractCache
test/mocha/workspaces/test-workspaces/workspaces/Test-2/ContractCache
