image:
  - Visual Studio 2017

platform:
  - x64

cache:
  - node_modules -> package-lock.json
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'

environment:
  CSC_KEY_PASSWORD:
    secure: 6HPJFbG4UcVgagENR42Pc1bshVrRsoMxt0xDKrR1eCs=
  CERT_PASSPHRASE:
    secure: kMG4K6eKtrVcehlpLDdxX8DAe1gvzaKcdn0HR2IdtgG4+eFqczuddRdkq18ZSzqeDTA8/CxaY8p13NwRLP0EGNztobwSwE/WKq7Aa+MeRFc=
  GH_TOKEN:
    secure: w01ayU0xx5aYR68/rJbAtdtfs+6bXFhYhZkRf4aeY8ca2qikM0UWiC7G5xXeUkz9
  matrix:
    - nodejs_version: 10

install:
  - ps: $env:package_version = (Get-Content -Raw -Path package.json | ConvertFrom-Json).version 
  - ps: Update-AppveyorBuild -Version "$env:package_version-$env:APPVEYOR_BUILD_NUMBER"
  - ps: if(-not $env:APPVEYOR_PULL_REQUEST_NUMBER) {
          iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'));
          appveyor-tools\secure-file -decrypt certs/cert.pfx.enc -secret $env:CERT_PASSPHRASE;
        }
  - ps: Install-Product node $env:nodejs_version x64
  - set CI=true
  - npm install -g npm@latest
  - set PATH=%APPDATA%\npm;%PATH%
  - npm ci

matrix:
  fast_finish: true

shallow_clone: true
clone_depth: 1

build_script:
  - ps: npm run build-windows

artifacts:
  - path: 'dist/Ganache-*.appx'
  - path: 'dist/Ganache-*-setup.exe'
  - path: 'dist/Ganache-*-setup.exe.blockmap'
  - path: 'dist/latest.yml'

