@import 'colors.css';

.TxCard {
  font-family: "Fira Code Regular", sans-serif;
  background: white;
  width: 100%;

  table {
    width: 100%;
  }

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  dd {
    font-size: .7rem;
  }
}

.TxData {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;

  thead {
    td {
      padding: 0;
      padding: .5rem;

      dl {
        dd {
          font-weight: bold;
          color: var(--app-blockexplorer-card-header-title-text-color);
        }

        dt {
          font-family: "Fira Sans";
        }
      }
    }
  }

  tbody {
    td {
      padding: 0;
      padding: .2rem;
      vertical-align: top;
      width: 50%;
      background: white;
      cursor: pointer;

      dt {
        font-family: 'Fira Sans'
      }

      pre {
        padding: 0;
        margin: 0;
      }
    }

    tr:first-of-type {
      td {
        padding-top: .2rem;
      }
    }
  }
}

.Container {
  padding: 0 !important;
  padding-top: .5rem !important;
}

.VAlignTop {
  vertical-align: top;
}

.SmallGroup {
  tbody {
    tr {
      td {
        padding: 0;
      }
    }
  }
}

.TxHeader {
  background-color: var(--app-sidebar-background-color);
  color: var(--app-highlight-color);
}

.TxDataHexContainer {
  padding-top: .4rem !important;
}

.TxDataHex {
  display: block;


  padding-right: 2rem;

  word-wrap: break-word;
  word-break: break-word;
}
