.Project {
  .ProjectName {
    h2 {
      margin: 18px;
      display: inline-block;
    }

    span {
      font-size: .825rem;
      color: var(--app-card-value);
    }
  }

  .Notice {
    background: #ddd;
    padding: 1rem;
    border-radius: 6px;
    margin: 1rem;
    text-align: center;
  }

  .Warning {
    font-size: 24px;
    vertical-align: middle;
  }
}

.ProjectContracts {
  .Notice {
    background: #ddd;
    padding: 1rem;
    border-radius: 6px;
    margin: 1rem;
    text-align: center;
  }

  .Warning {
    font-size: 24px;
    vertical-align: middle;
  }

  .ContractCard:first-child {
    border-top: 1px solid #aaa;
  }
}

.ContractCard {
  font-family: "Fira Code Regular", monospaced;
  width: 100%;
  cursor: pointer;
  margin: .5rem 0;
  background: var(--app-card-default-background);
  padding: 1.3rem .8rem;
  word-wrap: break-word;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  transition: all .3s;
  border-bottom: 1px solid #aaa;

  .Row {
    // display: flex;
    // align-items: center;
    // flex-direction: row;
    margin-bottom: 1rem;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 4fr 7fr 120px 120px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .RowItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;

    .StatusBadge {
      align-self: center;
      font-size: .75rem;
      padding: 8px;
      height: 28px;
      border-radius: 25px;
      background-color: var(--complimentary1);
      color: white;
      margin: auto;
    }
  }

  .Label {
    font-size: .75rem;
    font-family: "RobotoCondensed-Regular";
    font-weight: 800;
    color: var(--app-card-label);
    margin-bottom: .25rem;
  }

  .Value {
    font-size: 1.125rem;
    font-family: "Fira Code Regular";
    color: var(--app-card-value);
    word-break: break-all;
  }

  .TxCount {
    .Label {
      font-size: .625rem;
      letter-spacing: 1.2px;
    }

    .Value {
      font-size: .825rem;
    }
  }

}

.ContractsScreen {
  height: 100%;

  .NoProjects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: RobotoCondensed-Bold;
    color: #7a6d6d;

    .title {
      font-size: 1.75rem;
      text-transform: uppercase;
    }

    .description {
      font-size: 1.3rem;
      max-width: 46rem;
      margin-top: 2rem;
      text-align: center;
    }

    .button {
      margin-top: 2rem;

      :hover {
        color: var(--app-button-primary-background-color);
      }
    }
  }

  .settingsLink {
    color: #df7b0e;
  }
}
