@import 'colors.css';

.EmptyTransactions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: calc(100% - 2rem);
  margin: 1rem auto;

  border: 2px solid var(--app-card-default-border);
}
