@import 'colors.css';

.MiniTxCard {
  font-family: "Fira Code Regular", monospaced;
  cursor: pointer;
  width: 100vw;
  border: 2px solid var(--app-card-default-border);
  padding: .8rem;
  border-radius: 4px;
  word-wrap: break-word;
  margin: 1rem 0;
  cursor: pointer;

  > * {
    cursor: pointer;
  }
}

.RowItem {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Label {
  font-size: .875rem;
  font-family: "RobotoCondensed-Regular";
  font-weight: 300;
  color: var(--app-card-label);
}

.Value {
  font-size: 1.125rem;
  font-family: "Fira Code";
  color: var(--app-card-value);
  word-break: break-all;
}


.TxHash {
  .Value {
    font-weight: bold;
  }
}
