@import 'colors.css';
@import 'cards.css';

.Link {
  text-decoration: none;
}

.MiniTxCard {
  font-family: "Fira Code Regular", monospaced;
  width: 100%;
  cursor: pointer;
  margin: .5rem 0;
  background: var(--app-card-default-background);
  padding: .8rem;
  border-radius: 4px;
  word-wrap: break-word;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  composes: CardShadow;
  transition: all .3s;

  &:hover {
    transform: scale(1.01);
  }
}

.Row {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.RowItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.Label {
  font-size: .75rem;
  font-family: "RobotoCondensed-Regular";
  font-weight: 300;
  color: var(--app-card-label);
}

.Value {
  font-size: 1.125rem;
  font-family: "Fira Code Regular";
  color: var(--app-card-value);
  word-break: break-all;
}

.Nonce,
.GasUsed,
.Value,
.MinedOn {
  .Label {
    font-size: .625rem;
    letter-spacing: 1.2px;
  }

  .Value {
    font-size: .825rem;
  }
}

.TxHash {
  .Value {
    font-weight: bold;
  }
}

.SecondaryItems {
  .Value {
    font-size: .825rem;
  }
}
