
@import "colors.css";

.Transactions {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;

  > h4 {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    background: white;
    font-size: 32px;
    font-family: "RobotoCondensed-Bold";
    margin: 2rem 1rem;
    border-bottom: 2px solid rgba(155, 152, 150, 1.000);
    z-index: 2;
  }

  main {
    align-items: flex-start;
    > div {
      display: flex;
      flex-flow: row wrap;
    }
  }
}
