
@import "colors.css";

.Transactions {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;

  > h4 {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    background: white;
    font-size: 32px;
    font-family: "RobotoCondensed-Bold";
    margin: 2rem 1rem;
    border-bottom: 2px solid rgba(155, 152, 150, 1.000);
    z-index: 2;

    a {
      float: right;
    }
  }

  main {
    align-items: flex-start;
    > div {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

.BackButton {
  background: rgba(44, 54, 67, 1.000);
  border-radius: 4px;
  color: rgba(242, 175, 103, 1.000);
  padding: .6rem;
  text-decoration: none;
  font-size: .8rem;
  text-transform: uppercase;

  &:hover {
    color: lighten( rgba(242, 175, 103, 1.000), 10%);
  }
}
