@import 'colors.css';

.TxCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: var(--app-card-default-background);
  border: 2px solid var(--app-card-default-border);
  padding: .8rem;
  border-radius: 4px;
  word-wrap: break-word;

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dl {
    width: 50%;

    &:first-of-type {
      padding-right: 1rem;
    }

    &:last-of-type {
      padding-left: 1rem;
    }
  }

  dt {
    font-size: 1vw;
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    font-weight: 300;
    color: var(--app-card-label);
  }

  dd {
    margin-bottom: .8vw;
    font-size: 1.1vw;
    font-weight: bold;
    font-family: "Fira Code";
    color: var(--app-card-value);
  }
}

.CreatedContract {
  border-color: var(--primary-color);
}

.ContractCallBadge {
  background-color: var(--primary-color);
  color: white;
  font-size: .75rem;
  padding: 8px;
  height: 28px;
  border-radius: 25px;
  margin-bottom: 1rem;
}
