@import 'colors.css';
@import 'cards.css';
@import 'buttons.css';

.Button {
  text-decoration: none;
  text-align: center;
}

.TxCard {
  font-family: "Fira Code Regular", monospaced;
  width: 100%;
  margin: .5rem 0;
  background: var(--app-card-default-background);
  border-radius: 4px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  word-wrap: break-word;

  header {
    h1 {
      font-size: 2vw;
    }
  }

  main,
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    .Value {
      font-size: .875rem;
    }
  }

  footer {
    justify-content: flex-start;

    div {
      margin-right: 1rem;
    }
  }

  .Label {
    font-size: .75rem;
    font-family: "RobotoCondensed-Regular";
    font-weight: 300;
    color: var(--app-card-label);
  }

  .Value {
    font-size: 1.125rem;
    font-family: "Fira Code Regular";
    color: var(--app-card-value);
    word-break: break-all;
  }
}

.CreatedContract {
  border-color: var(--primary-color);
}

.ContractCallBadge {
  background-color: var(--primary-color);
  color: white;
  font-size: .75rem;
  padding: 8px;
  height: 28px;
  border-radius: 25px;
  margin-bottom: 1rem;
}
