
.LogContainer {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  ul {
    list-style:none;
    font-size: 13px;
    color: #eff1f5;
    border-radius: 0;
    background: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    font-family: "Fira Code Regular", monospace;
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;

    li:not(:last-child) {
      margin-bottom: .3rem;
    }
  }
}

.LogContainer .plain {
  font-weight: 100;
}

.LogContainer .command {
  font-weight: 500;
}

.LogContainer .error {
  font-weight: 500;
  color: red;
}
