@import "colors.css";

.BlockExplorer {
  display: flex;
  flex-direction: column;

  width: 100%;

  header {
    margin: 0 0 1rem 0;
    padding: 0;
    border-bottom: 0;
  }

  section {
    display: flex;
  }
}

.BackButton {
  background: rgba(44, 54, 67, 1.000);
  border-radius: 4px;
  color: rgba(242, 175, 103, 1.000);
  padding: .6rem;
  text-decoration: none;
  font-size: .8rem;
  text-transform: uppercase;

  &:hover {
    color: lighten( rgba(242, 175, 103, 1.000), 10%);
  }
}
