@import "colors.css";

.BlockExplorer {
  display: flex;
  flex-direction: column;

  width: 100%;

  header {
    margin: 0 0 1rem 0;
    padding: 0;
    border-bottom: 0;
  }

  section {
    display: flex;
  }
}


.Blocks,
.Transactions {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;

  composes: Panel from "CoreStyles/panels.css";
}

.Blocks footer,
.Transactions footer {
  display: flex;
  justify-content: flex-end;

  padding: 1rem 0 0 0;
}

.BlockList,
.TransactionList {
  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;
}

.Block,
.Transaction {
  display: flex;
  overflow: hidden;

  margin-bottom: 1rem;
  padding: 1rem;

  background: #fff;

  font-family: "Fira Code", monospaced;
}

.BlockData,
.TransactionData {
  flex: 1;

  width: 100%;
  margin: 0;
  padding: 0;

  border-collapse: collapse;

  font-size: .8rem;
}

.BlockData tr td,
.TransactionData tr td {
  vertical-align: top;
  width: 50%;
}

.BlockData dl,
.TransactionData dl {
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0;
}

.BlockData dt ,
.TransactionData dt {
  text-transform: uppercase;

  font-weight: 900;
}

.BlockData dd ,
.TransactionData dd {
  margin: 0;
}

.BlockNumber {
  flex: 0;
}

.BlockNumber p {
  margin: 0 1rem 0 0;
  padding: 0;

  text-transform: uppercase;

  font-weight: 900;
}

.Bloom,
.TxData {
  display: inline-block;

  width: 100%;
  padding-right: 2rem;

  word-wrap: break-word;
  word-break: break-word;
}

.BlockSearchInput,
.TxSearchInput {
  width: 100%;
  border-radius: 4px;
  border-color: var(--app-panel-text-color);
  padding: .5rem;
  margin: 0;

  font-family: "Fira Code", monospaced;

  &:focus {
    outline: none;
  }
}

.EmptyTransactions {
  display: flex;
  width: 100%;
  background-color: var(--app-mnemonic-background-color);
  text-align: center;
  align-items: center;
  justify-content: center;
}
