:root {
  --primary-color: rgba(235, 182, 126, 1.000);
  --text-color: rgba(54, 65, 83, 1.000);

  --truffle-green: #3fe0c5;
  --subtle-green: #bcecd4;
  --complimentary1: rgba(109, 163, 184, 1.000);
  --error: #ec5c5c;

  --app-background-color: rgba(255, 255, 255, 1.000);

  --app-window-control-background: rgba(29, 28, 27, 1.000);
  --app-navbar-background: rgba(64, 61, 58, 1.000);
  --app-navbar-text: rgba(151, 151, 151, 1.000);
  --app-navbar-icon-color: rgba(128, 128, 128, 1.000);

  --app-statusbar-text: rgba(204, 204, 204, 1.000);
  --app-statusbar-background: rgba(51, 48, 46, 1.000);
  --app-statusbar-active-item-background: rgba(86, 78, 72, 1.000);
  --app-statusbar-item-border-color: rgba(64, 61, 58, 1.000);
  --app-statusbar-btn-text: #f8d2ab;

  --app-card-default-border: rgba(200, 199, 196, 1.000);
  --app-card-default-background: rgba(251, 249, 246, 1.000);
  --app-card-label: rgba(96, 92, 89, 1.000);
  --app-card-value: rgba(57, 52, 48, 1.000);

  --app-highlight-color: rgba(208, 195, 188, 1.000);

  --app-sidebar-background-color: rgba(42, 40, 37, 1.000);
  --app-sidebar-header-text-color: rgba(96, 172, 197, 1.000);
  --app-sidebar-divider-color: rgba(76, 75, 74, 1.000);

  --app-panel-background-color: var(--app-background-color);
  --app-panel-text-color: var(--app-sidebar-background-color);
  --app-panel-divider-color: rgba(158, 148, 132, 1.000);
  --app-panel-header-border-color: var(--app-panel-divider-color);

  --app-button-primary-background-color: rgba(78, 60, 65, 1.000);
  --app-button-primary-color: rgba(242, 175, 103, 1.000);
  --app-button-primary-disabled-border-color: rgba(227, 227, 227, 1.000);

  --app-account-list-background: rgba(255, 255, 255, 1.000);
  --app-account-list-header-divider-color: var(--text-color);

  --app-mnemonic-background-color: rgba(255, 255, 255, 1.000);

  --app-title-bar-btn-close: rgba(255, 96, 88, 1.000);
  --app-title-bar-btn-min: rgba(255, 191, 47, 1.000);
  --app-title-bar-btn-max: rgba(40, 201, 64, 1.000);

  --app-config-tab-active-text-color: rgba(235, 182, 126, 1.000);

  --app-Blocks-card-header-title-text-color: rgba(102, 143, 156, 1.000);

  --app-page-intentionally-left-blank: rgb(215, 215, 215);
}
