.EncodedEventDetails {
  background: var(--app-card-default-background);
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #aaa;

  .Notice {
    background: #ddd;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    text-align: center;

    .settingsLink {
      color: #df7b0e;
    }
  }

  .Warning {
    font-size: 24px;
    vertical-align: middle;
  }

  .DataRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .DataPoint {
    .Label {
      font-size: 0.75rem;
      font-family: "RobotoCondensed-Regular";
      font-weight: 800;
      color: var(--app-card-label);
      margin-bottom: 0.25rem;
    }

    .Value {
      font-size: 1.125rem;
      font-family: "Fira Code Regular";
      color: var(--app-card-value);
      word-break: break-all;
    }
  }
}
