@import "./Styles/colors.css";
@import "./Styles/normalize.css";
@import "./Styles/buttons.css";
@import "./Styles/forms.css";

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  background-color: var(--app-background-color);

  /*font-family: 'Ropa Sans', sans-serif;*/
  font-family: "Helvetica Neue Light", HelveticaNeue-Light, "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",  sans-serif;
  font-weight: 200;
}

a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
