@import "./Styles/colors.css";
@import "./Styles/normalize.css";
@import "./Styles/buttons.css";
@import "./Styles/forms.css";

@font-face {
  font-family: "Fira Sans";
  font-weight: 300;
  font-style: normal;

  src: url("../resources/fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans Bold";
  font-weight: 300;
  font-style: normal;

  src: url("../resources/fonts/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans SemiBold";
  font-weight: 300;
  font-style: normal;

  src: url("../resources/fonts/FiraSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code Regular";
  font-weight: 300;
  font-style: normal;

  src: url("../resources/fonts/FiraCode-Regular.ttf") format("truetype");
}

html {
  box-sizing: border-box;

  text-shadow: 1px 1px 1px rgba(0,0,0,.004);

  font-smooth: always;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  cursor: default;
}

a {
  cursor: pointer;
}

html,
body {
  padding: 0;
  /* Disable text selection */
  /* -webkit-user-select: none; */

  background-color: var(--app-background-color);

  font-family: "Fira Sans", sans-serif;
  font-weight: 200;

  /* -webkit-app-region: drag; */
}

a {
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);

  -webkit-font-smoothing: antialiased;
}
