/* @import 'colors.css';
@import 'cards.css'; */

.FirstRunScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;

  .Logo {
    width: 64px;
    height: 64px;
    background: url(../../../../resources/logo.png) center center no-repeat;
    background-size: 64px 64px;
  }

  .Card {
    width: 80%;
    position: relative;
    padding: 2rem;

    display: flex;
    flex-direction: column;
  }

  .MainContent {
    display: flex;
    flex-direction: row;
  }

  .LeftColumn {
    width: 130%;
    padding-right: 4rem;

    p {
      line-height: 1.4;
    }

    div {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
    }

    h1 {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .RightColumn {
    min-width: 20rem;

    h1 {
      margin-bottom: 2.4rem;
    }

    h4 {
      margin-bottom: 0.875rem;
    }
  }

  .MetricList {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 1rem;
      margin-left: 1rem;
      font-size: 1rem;
      line-height: 1.2;
      list-style-position: outside;

      span {
        font-size: .9rem;
      }
    }
  }

  .Covenant {
    font-size: .875rem;
    font-weight: 900;
  }

  .Rule {
    width: 100%;
    border: 0;
    margin: 1rem 0;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    box-shadow: 0 -15px 40px -15px rgba(0,0,0,0.15);
    padding-top: 2rem;

    h4 {
      margin: 0rem 0 .5rem 0;
    }
  }

  .SwitchLabel {
    margin-right: 1rem;
  }

}
