

.MiniBlockCard {
  width: 100%;
  background: var(--app-card-default-background);
  word-wrap: break-word;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .3s;
  border-bottom: 1px solid #aaa;

  &:hover {
  }

  .Link {
    text-decoration: none;
    width: 100%;
  }

  .RowItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .PrimaryItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
  }

  .Label {
    font-size: .875rem;
    font-family: "RobotoCondensed-Regular";
    font-weight: 300;
    color: var(--app-card-label);
  }

  .Value {
    font-size: 1.125rem;
    font-family: "Fira Code Regular";
    color: var(--app-card-value);
    word-break: break-all;
  }

  .BlockNumber,
  .BlockHash {
    display: flex;
    flex-direction: column;
  }

  .BlockNumber {
    align-items: center;
    padding: .8rem;
    background-color: var(--subtle-green);
    min-width: 8vw;

    .Value {
      font-weight: bold;
    }
  }

  .BlockHash {
    .Value {
      font-size: 1.46vw;
    }
  }

  .GasUsed,
  .MinedOn {
    .Label {
      font-size: .625rem;
      letter-spacing: 1.2px;
    }

    .Value {
      font-size: .825rem;
    }
  }

  .GasUsed {
    min-width: 7vw;
  }

  .TransactionBadge,
  .NoTransactionBadge {
    background-color: var(--primary-color);
    color: white;
    font-size: .75rem;
    padding: 8px;
    height: 28px;
    border-radius: 25px;
    width: 120px;
    text-align: center;
  }

  .NoTransactionBadge {
    background-color: var(--app-card-default-background);
    color: var(--app-navbar-text);
  }

}
