.Repl {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;

  composes: Panel from "CoreStyles/panels.css";
}

.Repl footer input {
  width: 100%;
  font-family: "Fira Code Regular", monospaced;
  outline: none;
}
