.Spinner,
.Spinner:before,
.Spinner:after {
  color: var(--primary-color);
  font-size: 3px;
  text-indent: -99999em;
  border-radius: 50%;
  position: absolute;
  content: '';
  background:var(--app-statusbar-background);
}
.Spinner {
  margin: 5em auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0);
}
.Spinner:before {
  width: 5.2em;
  height: 10.2em;
  border-radius: 10.2em 0 0 10.2em;
  top: 0;
  left: -0.1em;
  transform-origin: 5.2em 5.1em;
  animation: load2 2s infinite ease 1.5s;
}
.Spinner:after {
  width: 5.2em;
  height: 10.2em;
  border-radius: 0 10.2em 10.2em 0;
  top: 0;
  left: 5.1em;
  transform-origin: 0px 5.1em;
  animation: load2 2s infinite ease;
}
@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}