@import 'colors.css';

.BlockList {
  width: 100%;
  background: white;
  padding: .5rem;
  border-collapse: collapse;

  thead {
    font-size: .8rem;
    font-family: "Fira Code Regular", monospaced;
    font-weight: 900;
    background-color: var(--app-sidebar-background-color);
    color: var(--app-highlight-color);

    td {
      padding: .5rem;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

  tbody {
    td {
      padding: .5rem;
      font-size: .8rem;

      dt {
        font-family: "Fira Sans";
      }
    }
  }
}
