@import 'colors.css';

.BlockCard {
  font-family: "Fira Code Regular", sans-serif;
  background: white;

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  dd {
    font-size: .7rem;
  }
}

.BlockData {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  overflow: hidden;

  thead {
    td {
      padding: 0;
      padding: .5rem;

      dl {
        dd {
          font-weight: bold;
          color: var(--app-blockexplorer-card-header-title-text-color);
        }

        dt {
          font-family: "Fira Sans";
        }
      }
    }
  }

  tbody {

    td {
      padding: 0;
      padding: .5rem;

      dt {
        font-family: "Fira Sans";
      }

      pre {
        padding: 0;
        margin: 0;
      }
    }

    tr:first-of-type {
      td {
        padding-top: 0;
      }
    }
  }
}

.Container {
  padding: 0 !important;
  padding-top: .5rem !important;

  > table {
    > tbody {
      > tr {
        > td {
          width: 50%;
        }
      }
    }
  }
}

.VAlignTop {
  vertical-align: top;
}

.SmallGroup {
  tbody {
    tr {
      td {
        padding: 0;
      }
    }
  }
}

.BlockHeader {
  background-color: var(--app-sidebar-background-color);
  color: var(--app-highlight-color);
}

.Bloom {
  display: block;

  padding-right: 2rem;

  word-wrap: break-word;
  word-break: break-word;
}
