@import 'cards.css';

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;

  h1 {
    margin: 0;
  }
}

.Title,
.Type {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.Title {
  flex-grow: 1;
  align-items: center;
}

.Parties,
.Gas {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}

.ContractCall {
  composes: CardShadow;

  .Header {
    background-color: rgba(109, 163, 184, 0.65);
  }

  .Parties {
    background-color: lighten(rgba(109, 163, 184, 0.65), 20%);
  }

  .Gas {
    background-color: lighten(rgba(109, 163, 184, 0.65), 35%);
  }
}

.ContractCreation {
  composes: CardShadow;

  .Header {
    background-color: rgba(222, 142, 149, 1.000);
  }

  .Parties {
    background-color: lighten(rgba(222, 142, 149, 1.000), 10%);
  }

  .Gas {
    background-color: lighten(rgba(222, 142, 149, 1.000), 20%);
  }
}

.ValueTransfer {
  composes: CardShadow;

  .Header {
    background-color: rgba(63, 224, 197, 0.65);
  }

  .Parties {
    background-color: lighten(rgba(63, 224, 197, 0.65), 20%);
  }

  .Gas {
    background-color: lighten(rgba(63, 224, 197, 0.65), 35%);
  }
}
