@import 'colors.css';

.TxList {
  width: 100%;
  height: 100%;
  background: white;

  .Waiting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
