@import 'colors.css';

.titleBarBtns {
  margin-left: -1rem;
}

.titleBarBtn {
  text-indent: -9999px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 12px;
  width: 12px;
  height: 12px;
  margin-right: .5rem;
  color: var(--text-color);

  &:hover {
    text-indent: 0;
  }
}

.titleBarBtnClose {
  composes: titleBarBtn;
  background-color: var(--app-title-bar-btn-close);
}

.titleBarBtnMin {
  composes: titleBarBtn;
  background-color: var(--app-title-bar-btn-min);
}

.titleBarBtnMax {
  composes: titleBarBtn;
  background-color: var(--app-title-bar-btn-max);
}
