@import 'colors.css';

.CardItem {
  margin-bottom: .5rem;
}

.Label {
  font-size: .875rem;
  font-family: "RobotoCondensed-Regular";
  font-weight: 300;
  color: var(--app-card-label);
  min-width: 42px;
}

.Value {
  font-size: 1.125rem;
  font-family: "Fira Code Regular";
  color: var(--app-card-value);
}

.AccountList {
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.AccountCard {
  padding: 1rem;
  background-color: var(--app-card-default-background);
  border: 2px solid var(--app-card-default-border);
  border-radius: 4px;
  margin-bottom: 2.8rem;
  position: relative;
}

.AccountAddressAndIndex,
.AccountNonceAndBalance,
.AccountState,
.AccountPrivateKey {
  composes: CardItem;
}

.AccountAddress {
  font-weight: bold;
  flex-grow: 2;

  .Value {
    font-size: 1.222222222rem;
  }
}

.AccountIndex {
  flex-shrink: 1;
  font-weight: bold;
}

.AccountNonceAndBalance,
.AccountAddressAndIndex, {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .RowItem {
    margin-right: 1rem;
  }
}

.AccountPrivateKey {
  .Label,
  .Value {
    font-size: 14px;
  }
}

.AccountNonceAndBalance {
  justify-content: space-between;
  margin-bottom: 0;

  .Label,
  .Value {
    font-size: 14px;
  }
}

.AccountState {
  position: absolute;
  padding-left: 8px;
  top: -26px;
  right: -24px;
  font-size: 2rem;
  background: #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
