@import 'colors.css';

.MainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Accounts {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  main {
    display: flex;
    padding-top: 1rem;
  }
}
