@import 'colors.css';
@import 'buttons.css';
@import 'cards.css';

.Button {
  text-decoration: none;
  text-align: center;
  margin: .5rem 0;
}

.BlockCard {
  font-family: "Fira Code Regular", sans-serif;
  background: var(--app-card-default-background);

  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;

  border-radius: 4px;
  word-wrap: break-word;
  composes: CardShadow;

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #ebb67e;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  h1 {
    margin: 0;
  }

  .BlockNumber {
    align-items: center;
    padding: .8rem;
    background-color: #ebb67e;

    > div {
      font-weight: bold;
    }
  }

  .BlockHash {
    align-items: center;
    padding: .8rem;

    > div {
      font-weight: bold;
    }
  }

  .HeaderSecondaryInfo {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: space-between;
    padding-right: .8rem;

    > div {
      margin-left: 3rem;
    }
  }

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dl {
    width: 50%;
  }

  dt {
    font-size: 1vw;
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    font-weight: 300;
    color: var(--app-card-label);
  }

  dd {
    margin-bottom: .8vw;
    font-size: 1.1vw;
    font-weight: bold;
    font-family: "Fira Code Regular";
    color: var(--app-card-value);
  }
}

.Bloom {
  display: block;

  padding-right: 2rem;

  word-wrap: break-word;
  word-break: break-word;
}

.HasTxs {
  border-color: var(--primary-color);
}

.BlockSearchError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
