@import 'colors.css';

.BlockCard {
  font-family: "Fira Code Regular", sans-serif;
  background: white;

  display: flex;
  flex-direction: row;

  border: 2px solid var(--app-card-default-border);
  padding: .8rem;
  border-radius: 4px;
  word-wrap: break-word;

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dl {
    width: 50%;

    &:first-of-type {
      padding-right: 1rem;
    }

    &:last-of-type {
      padding-left: 1rem;
    }
  }

  dt {
    font-size: 1vw;
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    font-weight: 300;
    color: var(--app-card-label);
  }

  dd {
    margin-bottom: .8vw;
    font-size: 1.1vw;
    font-weight: bold;
    font-family: "Fira Code";
    color: var(--app-card-value);
  }
}

.Bloom {
  display: block;

  padding-right: 2rem;

  word-wrap: break-word;
  word-break: break-word;
}
