@import 'colors.css';

.Label {
  font-size: .875rem;
  font-family: "RobotoCondensed-Regular";
  font-weight: 300;
  color: var(--app-card-label);
  min-width: 42px;
}

.Value {
  font-size: 1.125rem;
  font-family: "Fira Code Regular";
  color: var(--app-card-value);
}

.AccountList {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.AccountCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
  background-color: var(--app-card-default-background);
  border-radius: 4px;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0 0 0 0.5px rgba(49, 49, 93, .14),
    0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);
}

.AccountAddress {
  font-weight: bold;
  margin-right: 2rem;

  .Value {
    font-size: 1.222222222rem;
  }
}

.AccountBalance {
  .Value {
    font-weight: bold;
    font-size: 1.222222222rem;
  }
}

.AddressAndBalance {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.AccountPrivateKey {
  .Label,
  .Value {
    font-size: 14px;
  }
}

.AccountState {
  font-size: 2rem;
  background: #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.SecondaryInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;

  > div:not([class]) {
    width: 20%;
  }
}

.ShowKeys {
  position: relative;
  cursor: pointer;
  margin-right: 0.7rem;

  .popover {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    transform: translateX(-35%);
    padding: 7px 10px;
    position: absolute;
    z-index: 4;
    white-space: nowrap;

    &:before {
      border-top: 7px solid rgba(0, 0, 0, 0.85);
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      bottom: -7px;
      content: '';
      display: block;
      left: 50%;
      margin-left: -7px;
      position: absolute;
    }
  }

  &:hover,
  &:focus {
    .popover {
      display: block;
    }
  }
}